@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: #000000;
    background: #fdfdf8;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}
.datefont {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.datefont-bold {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.banner {
    height: 600px;
}

.custom-min-height {
    min-height: calc(100vh - 110px);
}

.padding-ofest {
    margin-top: -200px;
}
.artical p {
    margin-bottom: 14px;
    font-size: 16px;
}

section h2 {
    font-size: 22px;
}

section h3 {
    color: #C79433;
    font-size: 22px;
}

@media (min-width: 768px) {
    .custom-min-height {
        min-height: 70%;
    }
    .artical p {
        font-size: 14px;
    }
}
