@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: #000000;
    background: #fdfdf8;
    overflow-x: hidden;
}

.banner {
    height: 600px;
}

.custom-min-height {
    min-height: calc(100vh - 110px);
}

.padding-ofest {
    margin-top: -200px;
}
.artical p {
    margin-bottom: 14px;
    font-size: 16px;
}

@media (min-width: 768px) {
    .custom-min-height {
        min-height: 70%;
    }
    .artical p {
        font-size: 14px;
    }
}
